@import '_base';

.voter-list{
  border-bottom: 1px solid #e0e0e0; 
  .kr-item{
    width: 100%;  
    display: table;
    margin-left: 10px;
    li{
      &.grey{background: #fafafa;}
      &:nth-child(1) {width: 20%;
        padding-left: 30px;
       .sequence-outer{
          width: auto;
          float: left;
          margin-left: -27px;
          margin-top: 17px;
          .sequence{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: #fff;
            border: 1px solid #efefef;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
      &:nth-child(2) {width: 8%;}
      &:nth-child(3) {width: 10%;}
      &:nth-child(4) {width: 10%;}
      &:nth-child(5) {width: 7%;}
      &:nth-child(6) {width: 15%;}
      &:nth-child(7) {width: 20%;}
      &:nth-child(8) {width: 10%;}
      float: left;
      display: block;
     
      .kr-left{
        float: left;
        width: 44px;
        img{width: 44px; height: 44px; border-radius:22px;}
      }
      .kr-right{
        margin-left: 50px;
      }
      .kr-container{ padding: 10px; height: 64px;}
      .kr-head{font-size: 16px; color: #222; padding: 2px;}
      .kr-content{font-size: 12px; color: #999;padding: 2px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
      .actions-list {margin-top: 7px;}
    }
  }
  
}
.dd-check-con{
  display: block;
  width: auto;
  float: left;
  padding: 10px;
  span{
    display: inline-block;
  }
  input{
    display: inline-block;
    float: left;
    margin-top: 4px;
  }
}